# Anything is ok if the bucket name is not exists in the world.
CONFIG_CLOUDFORMATION_PACKAGE_S3_BUCKET_NAME := example-dekokun-cloudformation-packages
# Anything is ok if the bucket name is not exists in the above bucket.
CONFIG_CLOUDFORMATION_PACKAGE_S3_PREFIX := example-aws-lambda-parallelization-factor-test
# Anything is ok if the stack name is not exists in your CloudFormation stacks.
CONFIG_CLOUDFORMATION_STACK_NAME := example-aws-lambda-parallelization-factor-test
# After `make deploy`, fill name of created kinesis stream
CONFIG_KINESIS_STREAM_NAME := example-aws-lambda-parallelization-factor-test-Stream-1OX9JCFFE7OR4
